@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/pxiEyp8kv8JHgFVrJJfedw.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/pxiByp8kv8JHgFVrLEj6Z1xlEA.ttf) format('truetype');
}

/*
     FILE ARCHIVED ON 23:22:51 Jan 15, 2024 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 14:59:38 Aug 02, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.483
  exclusion.robots: 0.018
  exclusion.robots.policy: 0.012
  esindex: 0.01
  cdx.remote: 347.425
  LoadShardBlock: 120.043 (3)
  PetaboxLoader3.datanode: 155.649 (4)
  load_resource: 160.795
  PetaboxLoader3.resolve: 107.923
*/